<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    {%csrf_token%}

    <form method="POST">
        {%csrf_token%}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
        <a href="../../accounts/register/">Register?</a>
    </form>
    <br>
    <!-- <form action="../../accounts/register/" method="POST"> {% csrf_token %}
    
        <button type="submit">Register</button>
    </form> -->
    <!-- <div>
        {% for msg in messages %}
        <h4> {{msg}}</h4>
        {% endfor %}
    </div> -->


</body>
</html>